.text-center
  %br
  %h2.text-info Registrations
  %br
.container
  #row.row.justify-content-center.align-items-center
    #column.col-md-6
      #box.col-md-12
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .text-danger= devise_error_messages!


          .field
            %label.text-info{:for => "username"} Username:
            %br/
            = f.text_field :username, autofocus: true,  :class => "form-control", size: 30 , :placeholder => "Username"

          .field
            %label.text-info{:for => "first_name"} First name:
            %br/
            = f.text_field :first_name, autofocus: true, :class => "form-control", size: 30 , :placeholder => "First name"

          .field
            %label.text-info{:for => "last_name"} Last name:
            %br/
            = f.text_field :last_name, autofocus: true,  :class => "form-control", size: 30 , :placeholder => "Last name"


          .field
            %label.text-info{:for => "email"} Email:
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", size: 30 , :placeholder => "Email"

          .field
            %label.text-info{:for => "password"} Password:
            %br/
            - if @minimum_password_length
              = f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "#{@minimum_password_length} characters minimum"

            - else
              = f.password_field :password, autocomplete: "off", :class => "form-control",  :placeholder => ""

          .field
            %label.text-info{:for => "password_confirmation"} Confirm your password:
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", size: 30 , :placeholder => "Password confirmation"

          %br/
          .actions
            = f.submit "Registration", :class => "btn btn-info"
          = render "devise/shared/links"
