.text-center
  %br
  %h1.text-info Forgot your password?
  %br
.container
  #row.row.justify-content-center.align-items-center
    #column.col-md-6
      #box.col-md-12
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          .text-danger= devise_error_messages!
          .field
            %label.text-info{:for => "email"} Email that was linked to an account:
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email" , :class => "form-control", size: 30 , :placeholder => "Email"
            %br/
          .actions
            = f.submit "Send me reset password instructions", :class => "btn btn-outline-info"
          = render "devise/shared/links"