%br
%h1.text-success.text-right="#{@user.username}"
%h1.text-success.text-right="Your id #{@user.id}"
%h1.text-success.text-right="#{@user.about}"
=form_for(@user, url: about_path, html: {method: "get"}) do |f|
  .text-right= f.hidden_field :id, value: @user.id
  = f.text_field :about, autocomplete: "about"
  = f.submit "Submit"







