.text-center
  %br
  %h1.text-info Log in
  %br
.container
  #row.row.justify-content-center.align-items-center
    #column.col-md-6
      #box.col-md-12
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .text-danger= devise_error_messages!
          .field
            %label.text-info{:for => "email"} Email:
            %br/
            = f.email_field :email, autofocus: true, :class => "form-control", size: 30 , :placeholder => "Email"
            %br/
          .field
            %label.text-info{:for => "password"} Password:
            %br/
            = f.password_field :password, autocomplete: "off", :class => "form-control", size: 30 ,:placeholder => "Password"
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit "Log in", :class => "btn btn-outline-info"
            = link_to "Registration", new_account_registration_path, :class => "btn btn-info", :style=>"float: right;"
        = render "devise/shared/links"






