.container
  .row
    .col-4
      =profile_picture @account, 200
    .col-8.text-left
      .row
        .col-6
          %h1
            -if current_account.username == @account.username
              = link_to 'Edit profile', edit_account_registration_path, :class => "btn btn-outline-info float-right"
            -else
              =form_tag follow_account_path, method: :post, class: "float-right" do
                = hidden_field_tag :follow_id, @account.id
                = submit_tag "Follow", class: "btn btn-info btn-sm"
            = @account.full_name

      .row.profile-stats
        .col-4
          =@account.posts.count
          posts
        .col-4
          =@account.total_followers
          followers
        .col-4
          =@account.total_following
          following

      %p=@account.full_name
      =simple_format @account.description
      %p=link_to @account.website if @account.website.present?
  .row.profile-post
    -@posts.each do |post|
      .col-4
        .insta-post.post-square{:style=> "background: url(#{post.image.url}) no-repeat center top" }
          =link_to post_path(post) do
            .post-stats
              .inner
                %i.fa.fa-heart= post.total_likes_count
                %i.fa.fa-comment.m-l-15= post.total_comments_count
            %br

